@font-face {
  font-family: "K2D";
  font-style: normal;
  font-weight: normal;
  src: url("/styles/fonts/K2D-Medium.woff") format("woff");
}

body {
  font-family: "K2D";
  background: #fff;
  color: #000;
}

table {
  width: 100% !important;
}

tr {
  padding: 0;
  margin: 0;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
  white-space: nowrap;
}

td {
  text-align: left;
  vertical-align: middle !important;
  white-space: nowrap;
  font-size: 80%;
}

.table th, .table td {
  padding: 5px;
}

.text-underline {
  width: 100%;
  text-align: justify;
  border: 0;
  outline: 0;
  white-space: normal;
  background: transparent;
  border-bottom: 1px solid black;
  padding-top: 5px;
  margin-bottom: 5px;
}

.card-header {
  background: #fff;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.bg-color1 {
  background-color: #ec87b9;
}

.bg-color2 {
  background-color: #e75ea3;
}

.bg-color3 {
  background-color: #fbbd4e;
}

.bg-color4 {
  background-color: #fdd349;
}

.bg-color5 {
  background-color: #8ed1b5;
}

.bg-color6 {
  background-color: #55cbcb;
}

.bg-color7 {
  background-color: #44b0c6;
}

.bg-color8 {
  background-color: #757acd;
}

.bg-color9 {
  background-color: #e75ea3;
}

.bg-color10 {
  background-color: #e272d5;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  padding-top: 20px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #000;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #007bff;
  background: #fff;
}

li .active {
  color: #007bff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}